---
import "../styles/global.css";
import Link from "../components/Link.astro";
import { links } from "../data/links.json";
import CardQR from "../components/CardQR.jsx";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tu siguiente compra - Links</title>
    <link rel="icon" type="image/svg+xml" href="https://dcdn-us.mitiendanube.com/stores/002/000/382/themes/common/logo-707332816-1651084266-de6b8b85217b7b19a3315d7c6bb4f2cf1651084266.ico?0" />
    <meta name="description" content="Acceso directo a nuestras plataformas oficiales de venta online" />
    <meta property="og:image" content="/icons/og-image.jpg" />
  </head>
  <body class="min-h-screen bg-gradient-to-tl from-[#B34700] via-[#EC651B] via-[#FF7F00] via-[#FFC04D] via-[#FFB300] via-[#FFA000] to-[#FFF3E0] text-black py-10 px-4">
    <div class="max-w-2xl mx-auto">
      <!-- Contenido principal -->
      <div class="space-y-8">
        <!-- Logo -->
        <div class="flex justify-center mb-4">
          <a href="https://tusiguientecompra.com/" class="cursor-pointer">
            <img src="/icons/Tu_siguiente_compra.svg" alt="Logo Tu siguiente compra" class="h-32 w-auto" />
          </a>
        </div>

        <header class="text-center">
          <p class="text-gray-800 font-semibold text-xl">Ven y haz tu siguiente compra al mejor precio.</p>
        </header>

        <!-- Enlaces -->
        <!-- Tu siguiente compra -->
        <div class="space-y-4">
          {links.map((link) => {
            if (link.id == 4) {
              return <CardQR title={link.title} description={link.description} />
            }else{
              return <Link clase="h-14" id={link.id} key={link.id} title={link.title} description={link.description} imagen={link.imagen} url={link.url} />
            }
          })}
        </div>
      </div>
    </div>
  </body>
</html>
